<script src="~/js/Alert.js"></script>
<script src="~/js/OfficeSuites.js"></script>
@model IEnumerable<Itventory.web.Entidades.OfficeSuite>

@{
    ViewData["Title"] = "Suites de Office";
}

@{
    var status = Context.Request.Query["status"];
    var Disponible = "";
    var Asignado = "";

    switch (status)
    {
        case "1":
            Disponible = "text-white bg-success";
            break;
        case "2":
            Asignado = "text-white bg-success";
            break;
        default:
            break;
    }
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-second-primary">
            <h6 class="m-0 font-weight-bold text-white">Lista de Suites de Office 365 Basic.</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <a asp-action="Create" class="btn btn-outline-success">
                        <i class="fa-solid fa-plus"></i> Nuevo
                    </a>
                </div>
                <div class="col-sm-9">
                    <ul class="list-group list-group-horizontal-sm justify-content-end">
                        <a style="text-decoration:none;" asp-controller="OfficeSuites" asp-action="Index" asp-route-status="1">
                        <li class="list-group-item @Disponible">Disponibles</li>
                        </a>
                        <a style="text-decoration:none;" asp-controller="OfficeSuites" asp-action="Index" asp-route-status="2">
                        <li class="list-group-item @Asignado">Asignados</li>
                        </a>
                    </ul>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <ejs-grid id="Grid" dataSource="ViewBag.dataSource" allowPaging="true" allowSorting="true" allowResizing="true" allowReordering="true" allowGrouping="true" toolbar="@(new List<string>() { "Search", "ExcelExport", "PdfExport"})" allowFiltering="true" allowSelection="true" allowExcelExport="true" allowPdfExport="true" toolbarClick="toolbarClick">
                        <e-grid-filterSettings type="Menu"></e-grid-filterSettings>
                        <e-grid-selectionsettings type="Single"></e-grid-selectionsettings>
                        <e-grid-columns>
                            <e-grid-column type="checkbox" width="50"></e-grid-column>
                            <e-grid-column field="UserName" headerText="Nombre de Usuario"></e-grid-column>
                            <e-grid-column field="Stock" headerText="Asignados" width="70" textAlign="Center"></e-grid-column>
                            <e-grid-column field="StartDate" headerText="Inicio" format="yMd" width="100"></e-grid-column>
                            <e-grid-column field="FinishDate" headerText="Fin" format="yMd" width="100"></e-grid-column>
                            <e-grid-column headerText="Acciones" width="120" textAlign="Center" template="#Actions" textAlign="Center"></e-grid-column>
                        </e-grid-columns>
                    </ejs-grid>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="Actions" type="text/x-template">
    <a class="btn btn-sm no-a-decoration" href="/OfficeSuites/Edit/${Id}">
        <i class="fa-solid fa-pen-to-square fa-lg"></i>
    </a>
    <a class="btn btn-sm no-a-decoration" href="/OfficeSuites/Details/${Id}">
        <i class="fa-solid fa-circle-info"></i>
    </a>
    <a class="btn btn-sm no-a-decoration" href="/OfficeSuites/Delete/${Id}">
        <i class="fa-solid fa-trash"></i>
    </a>
</script>

<script>
    window.alertMessage = '@TempData["AlertMessage"]';
    window.alertIcon = '@TempData["SweetAlertType"]';
</script>